.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  background-color: var(--semi-black);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  overflow: hidden;
}

.loaderLogo {
  width: 22rem; /* Ajuste o tamanho da sua logo */
  height: auto;
  object-fit: contain;
}