.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 33.5rem;
  height: 21.6rem;

  border-radius: 0.4rem;
  border: solid 3px #1a1517;
  cursor: pointer;
  transition: background-color 0.15s ease;

  overflow: hidden;
}
.cardContainer:hover {
  background-color: var(--dark-pink-gray);
}

.cardContainer:hover .cardImgContainer {
  height: 100%;
}

.cardContainer:hover img {
  left: 7rem;
  height: 15rem;
}

.cardContainer:hover .textContainer {
  margin-bottom: -5rem;
}

.cardContainer:hover .hoverContent {
  margin-right: 2rem;
}

.cardImgContainer {
  height: 60%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: height 0.2s ease;
}

.cardContainer img {
  position: absolute;
  height: 13.5rem;
  filter: drop-shadow(-0.4rem 0.4rem 1rem rgba(3, 1, 1, 0.5));
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.35s ease, height 0.35s ease;
}

.textContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.6rem;
  transition: margin-bottom 0.35s ease;
}
.textContainer strong {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.16rem;
  color: var(--semi-white);
}
.textContainer span {
  color: var(--light-gray);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.hoverContent {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: -20rem;
  transition: margin-right 0.35s ease;
}

.hoverText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  max-width: 16rem;
}
.hoverText strong {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.16rem;
  color: var(--semi-white);
}

.hoverText span {
  color: var(--light-gray);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  flex-wrap: wrap;
}

.cardBtn {
  padding: 1rem 1.4rem;
}
