.menuSelectors {
  background-color: var(--dark-pink-gray);
  display: flex;
  flex-direction: column;
  flex: 3;
  max-width: 35rem;
  padding: 4rem 3rem;
  gap: 2rem;
}
.menuFiltros {
  margin-top: 1rem;
}
.menuLinhas,
.menuFiltros {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.selectorTitle {
  line-height: 0.75;
  font-size: 2.8rem;
  font-weight: 400;
  font-family: var(--roadstore-font);
  text-transform: uppercase;
  letter-spacing: 0.32rem;
  background-image: linear-gradient(to right, #2c2125, transparent);
}
.selectorOptions {
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
}
.menuSelected {
  color: var(--pink-red);
  padding-left: 0.8rem;
}
.selectorLink {
  cursor: pointer;
  transition: color 0.13s ease;
}
.selectorLink:hover {
  color: var(--pink-red);
}
