.menuSelectors {
  background-color: var(--dark-pink-gray);
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  gap: 2rem;
  border-radius: 0.6rem;
  width: 100%;
}
.menuFiltros {
  margin-top: 1rem;
}
.menuLinhas,
.menuFiltros {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.selectorTitle {
  padding: 0.4rem;
  background-image: linear-gradient(
    to right,
    transparent,
    #2c2125,
    transparent
  );
}
.selectorTitle:first-child {
  line-height: 0.75;
  font-size: 2.8rem;
  font-family: var(--roadstore-font);
  text-align: center;
  letter-spacing: 0.32rem;
}
.selectorOptions {
  justify-content: space-around;
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
}
.menuSelected {
  color: var(--pink-red);
  padding-left: 0.8rem;
}
.selectorLink {
  background-color: var(--pink-red-10);
  padding: 0.6rem 1.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: color 0.13s ease;
  font-weight: 500;
  text-transform: uppercase;
}
.selectorLink:hover {
  color: var(--pink-red);
}
