.cortesMenu {
  position: relative;
  overflow: hidden;
  /* padding-bottom: 45rem; */
}

.cortesTopBg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.cortesBottomBg {
  position: absolute;
  bottom: 0rem;
  left: 0;
  z-index: -1;
  width: 100dvw;
}

.cortesMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cortesMenuTitle {
  font-weight: 400;
  font-size: var(--h2-responsive);
  letter-spacing: 16px;
  text-align: center;
  padding-top: 28.5rem;
  margin-bottom: 10rem;
}

.linhaBoutique,
.linhaNovilho,
.linhaChurrasco,
.linhaPampeira {
  display: flex;
  justify-content: end;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 2.4rem 3rem rgba(0, 0, 0, 0.7);
  transition: filter 0.4s ease;
}

.linhaNoutique:hover,
.linhaNovilho:hover,
.linhaChurrasco:hover,
.linhaPampeira:hover {
  background-blend-mode: hard-light;
}

.linhaNovilho,
.linhaPampeira {
  justify-content: end;
  text-align: right;
}
.linhaNovilho .menuText,
.linhaPampeira .menuText {
  align-items: flex-end;
}

.linhaBoutique,
.linhaChurrasco {
  justify-content: start;
}

.linhaBoutique {
  background-image: url("../../assets/home/cortes/boutique-image-bg.png");
}

.linhaNovilho {
  background-image: url("../../assets/home/cortes/novilho-image-bg.png");
}

.linhaChurrasco {
  background-image: url("../../assets/home/cortes/churrasco-image-bg.png");
}

.linhaPampeira {
  background-image: url("../../assets/home/cortes/pampeira-image-bg.png");
  box-shadow: inset 0 2.4rem 3rem rgba(0, 0, 0, 0.7),
    inset 0 -2.4rem 3rem rgba(0, 0, 0, 0.7);
}

.menuText {
  display: flex;
  flex-direction: column;
  padding: 8rem 12rem;
  transition: transform 0.3s ease-in-out;
}

.menuText h2 {
  font-size: 6.4rem;
  font-family: var(--roadstore-font);
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 1.2rem;
}

.menuText p {
  font-family: var(--barlow-font);
  font-weight: 400;
  line-height: 28px;
  max-width: 54rem;
  padding-bottom: 3rem;
}

@media (max-width: 1024px) {
  .menuText {
    padding: 8rem 6rem;
  }
  .menuText h2 {
    font-size: 4.8rem;
  }
  .menuText p {
    font-size: 1.6rem;
  }
}
