footer {
  display: flex;
  flex-flow: column;
}
.mainFooter {
  background-image: url("../../assets/home/footer/footer-main-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 12rem;
  display: flex;
  flex-flow: column;
  gap: 8rem;
}

footer span,
footer a,
footer address,
footer p {
  line-height: 2.4rem;
  letter-spacing: 0.16rem;
  font-size: 1.6rem;
}
footer address {
  color: rgba(255, 255, 255, 0.5);
  max-width: 20rem;
}
footer h4 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0.5rem;
}
footer hr {
  background-color: var(--pink-gray);
  height: 0.2rem;
  border: none;
}
.footerUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footerLogo {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.footerLogo img {
  max-width: 27.6rem;
}
.footerContents {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}
.footerText {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.footerText img {
  max-width: 18.8rem;
}
.footerRights {
  margin-top: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerRights h4 {
  line-height: 1.6rem;
  letter-spacing: 0;
  text-transform: none;
}

@media (max-width: 1024px) {
  .footerUp {
    flex-flow: column;
  }
  .mainFooter {
    padding: 5rem 3rem;
  }
}