:root {
  --semi-black: #0a0a0a;
  --semi-white: #f5e1c8;
  --light-gray: #51484c;
  --dark-gray: #121011;
  --pink-gray: #2c2125;
  --dark-pink-gray: #161213;
  --pink-red: #e53344;
  /* --pink-red-dark: #b53342; */
  --pink-red-dark: #7f1c26;
  --pink-red-30: rgba(229, 51, 68, 0.3);
  --pink-red-10: rgba(229, 51, 68, 0.1);

  --pink-gradient: linear-gradient(
    90deg,
    var(--pink-red-30),
    var(--pink-red) 50%,
    var(--pink-red-30) 100%
  );

  --roadstore-font: "Roadstore";
  --barlow-font: "Barlow";

  --img-shadow: 0 0.6rem 1rem rgb(3, 1, 1, 0.5);
  --card-shadow: 0.5rem 0.5rem 1.5rem rgb(3, 1, 1, 0.5);

  --p-responsive: clamp(2.2rem, 1.4rem + 0.625vw, 2.4rem);
  --h2-responsive: clamp(4rem, 3.2rem + 2.5vw, 7.2rem);
}
@font-face {
  font-family: "Roadstore";
  src: url("../public/font/roadstore-font.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}
body {
  font-family: var(--barlow-font);
  background-color: var(--semi-black);
  color: var(--semi-white);
}
h1,
h2,
h3 {
  font-family: "Roadstore";
}
h2 {
  filter: drop-shadow(0 0.8rem 1rem rgba(255, 255, 255, 0.15));
}
p {
  font-size: var(--p-responsive);
  color: var(--semi-white);
}
span {
  font-family: var(--barlow-font);
}
a,
Link {
  text-decoration: none;
  cursor: pointer;
  color: var(--semi-white);
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
