.menuMainContent {
  display: flex;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.menuFilterCardsContainer {
  display: flex;
  justify-content: center;
  flex: 4;
  align-items: center;
}

.filterCards {
  gap: 3rem;
  max-width: 69rem;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.menuDisplay {
  flex: 2;
}
