.menuMainContent {
  display: flex;
  align-items: start;
  /* gap: 4rem; */
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.menuFilterCardsContainer {
  margin-left: 12rem;
  display: flex;
  justify-content: center;
  flex: 6;
  align-items: center;
}

.filterCards {
  gap: 3rem;
  max-width: 69rem;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.menuDisplay {
  margin-right: 1rem;
  flex: 3;
}
